<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>OffKey Authentication PoC</title>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/mystyles.css') }}" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='java_socket_bridge.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        
        <div class="container" style="width: 200px">
            <div class="starter-template" style="margin-top: 75px">
            Username:<br>
            <input class="form-control" type="text" name="username" id="uname" value="" />
            <br>
            <span class="btn btn-default btn-file">
            Key plz<input class="fileupload fileupload-new" type="file" id="fileinput" />
            </span>
            </div>
        </div>

        <script type="text/javascript">
            function readSingleFile(filelist) {
                var f = filelist.target.files[0]
                if (f) {
                    var r = new FileReader();
                    r.onload = function(e) {
                        var contents = e.target.result;
                        contents = contents / 2;
                        var username = document.getElementById('uname').value;
                        HandleServContents(username, contents);
                    }
                    r.readAsText(f);
                } else {
                    alert("Failed to load file");
                }
            }

            function HandleServContents(uname, conts) {
                    var xmlHttp = new XMLHttpRequest();
                    xmlHttp.onreadystatechange = function() { 
                        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                            if (xmlHttp.responseText == 'SUCCESS') {
                                alert('SUCCESS');
                            } else if (xmlHttp.responseText == 'FAILURE') {
                                alert('FAILURE');
                            } else if (xmlHttp.responseText == 'USER DOES NOT EXIST') {
                                alert('USER NONEXISTANT');
                            } else {
                                alert('Improper Response From Auth Server');
                            }
                    }
                    xmlHttp.open("GET", 'http://172.17.42.1/api/auth/' + uname + '/' + conts, true);
                    xmlHttp.send(null);
            }

            document.getElementById('fileinput').addEventListener('change', readSingleFile, false);
        </script>
    </head>

    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">OffKey Authentication</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    </body>
</html>
