<head>
	<title>TCP Socket test</title>
	<script type="text/javascript" src="{{ url_for('static', filename='java_socket_bridge.js') }}"></script>
	<script type="text/javascript">

                var host = 'localhost';
                var port = 6311;

		function connect(){
			socket_connect(host, port);  
			alert("connected");
		}
                
		function send(form){
			socket_connect(host, port);
			var InputVar = form.username.value;
                        socket_send(InputVar);
                }

		function on_socket_get(message){
                        alert("TCP Message: " + message);
		}
	</script>
</head>

<body>
	<form onsubmit="javascript:send(this.form); return false;">
	        Username:<br>
		<input type="text" name="username" value="">
		<INPUT TYPE="button" NAME="button" Value="Click" onClick="send(this.form)">
	</form>
	<div>
		<applet id="JavaSocketBridge" archive="{{ url_for('static', filename='JavaSocketBridge.jar') }}" code="JavaSocketBridge.class" width="1" height="1"></applet>
	</div>
</body>
</html>
