<head>
	<title>TCP Socket test</title>
	<script type="text/javascript" src="{{ url_for('static', filename='java_socket_bridge.js') }}"></script>

	Username:<br>
	<input type="text" name="username" id="uname" value="" />
	<br>
	<input type="file" id="fileinput" />
	<script type="text/javascript">

                var host = 'localhost';
                var port = 6311;

		function connect() {
			socket_connect(host, port);  
			alert("connected");
		}
                
		function send(message) {
			socket_connect(host, port);
                        socket_send("AUTH " + message);
                }

		function on_socket_get(message) {
			if(message != 'DENIED') {
				window.location = "/user/" +message
			} else {
				alert("DEE-NIED");
			}

		}

		function readSingleFile(filelist) {
			var f = filelist.target.files[0]

			if (f) {
				var r = new FileReader();
				r.onload = function(e) {
					var contents = e.target.result;
					contents = contents / 2;
					var username = document.getElementById('uname').value;
					send(username + ' ' + contents)
				}
				r.readAsText(f);
			} else {
				alert("Failed to load file");
			}
		}

		document.getElementById('fileinput').addEventListener('change', readSingleFile, false);

	</script>
</head>

<body>
	<div>
		<applet id="JavaSocketBridge" archive="{{ url_for('static', filename='JavaSocketBridge.jar') }}" code="JavaSocketBridge.class" width="1" height="1"></applet>
	</div>
</body>
</html>
